<p id="notice"><%= notice %></p>

<p>
  <strong>Tour date:</strong>
  <%= @course.tour_date %>
</p>

<p>
  <strong>Guide name:</strong>
  <%= @course.guide_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Lower limit:</strong>
  <%= @course.lower_limit %>
</p>

<p>
  <strong>Upper limit:</strong>
  <%= @course.upper_limit %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
